$pedal-transition-speed: .4s;

.pedal {
    will-change: opacity, transform;
    position: relative;
    overflow: hidden;

    display: inline-block;
    width: 100%;
    max-width: 24rem;
    margin: 0 $gutter $gutter 0;

    background: $white;

    border-radius: $border-radius;

    font-size: 1rem;
    vertical-align: top;

    &__header {
        padding: $padding-small $padding;

        background: $gray-light;
    }

    &__content {
        padding: $padding-small $padding;

    }

    &.pedal-transition-enter {
        transform: translate3d(0, -50%, 0);
        opacity: 0;
    }

    &.pedal-transition-enter-active {
        transition: all $pedal-transition-speed ease-in-out;
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }

    &.pedal-transition-leave {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }

    &.pedal-transition-leave-active {
        transition: all $pedal-transition-speed ease-in-out;
        transform: translate3d(0, -50%, 0);
        opacity: 0;
    }
}
