* {
  box-sizing: border-box; }

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100%;
  background: #FBFBFB; }

.sidebar {
  min-width: 6.25rem;
  min-height: 100%;
  background: #2F323A; }

.pedalboard {
  min-height: 100%; }
