@mixin button-reset() {
    padding: 0;

    border: 0;
    outline: 0;

    cursor: pointer;
}

.button {
    @include button-reset;

    will-change: border-color, color;
    transition: border-color $transition-speed ease-in-out, color $transition-speed ease-in-out;

    padding: $padding-small;

    background: transparent;

    border: 1px solid currentColor;
    border-radius: $border-radius;

    font-size: .8rem;
    font-weight: bold;
    color: $gray-med;
    text-transform: uppercase;

    &:hover {
        border-color: currentColor;
    }

    &--active {
        color: $green;
    }

    &--full {
        width: 100%;
    }

    &--sidebar {
        @include button-reset;

        will-change: background, padding;
        transition: background $transition-speed ease-in-out, padding $transition-speed ease-in-out;

        width: 100%;
        height: 5rem;
        margin: 0;

        background: transparent;

        font-size: .6rem;
        line-height: 833%;
        color: $white;
        vertical-align: middle;

        &:hover {
            padding: 0 0 0 .4rem;

            background: $green;
        }
    }

    &--close {
        @include button-reset;

        will-change: transform;
        transition: all $transition-speed ease-in-out;

        position: absolute;
        top: -1rem;
        right: -1rem;

        width: 2rem;
        height: 2rem;

        background: $gray-med;

        border: 1px solid darken($gray-med, 5);
        border-radius: 50%;

        color: $white;
        font-size: 1rem;
        font-weight: bold;
        line-height: 100%;
        text-align: center;
        vertical-align: middle;

        &:hover {
            transform: rotate(90deg);
        }
    }
}
