.form {
    &__row {
        margin: 0 0 $padding-small 0;
    }
}

@mixin input--range__thumb {
    -webkit-appearance: none;

    height: 1rem;
    width: 1rem;
    margin-top: -.4375rem;

    background: $green;

    border: none;
    border-radius: 50%;

    cursor: pointer;
}

@mixin input--range__track {
    width: 100%;
    height: 2px;

    background: $green;

    color: $green;

    cursor: pointer;
}

.input--range {
    -webkit-appearance: none;
    width: 100%;
    height: 1rem;

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
    }

    &:focus {
        outline: none;
    }

    &::-ms-track {
        width: 100%;
        cursor: pointer;
        background: transparent;
        border-color: transparent;
        color: transparent;
    }

    &::-webkit-slider-thumb {
        @include input--range__thumb;
    }

    &::-moz-range-thumb {
        @include input--range__thumb;
    }

    &::-ms-thumb {
        @include input--range__thumb;
    }

    &::-webkit-slider-runnable-track {
        @include input--range__track;
    }

    &:focus::-webkit-slider-runnable-track {
        background: lighten($green, 10);
    }

    &::-moz-range-track {
        @include input--range__track;
    }

    &::-ms-track {
        @include input--range__track;
    }
}
